<h3>Welcome to the Classic Garage!</h3>
<h4>Visitors#Index</h4>
<h4>app/views/visitors/index.html.erb</h4>






<!--Insert each menu item here-->






<!--Please don't delete this. <3-->
<!--<%#= link_to 'Users:', users_path %> <%#= User.count %>-->
