<h3>Photos from the Classic Garage!</h3>
<h4>app/views/visitors/photo.html.erb</h4>



<% @photos.each do |f| %>
    <%#= f.name %>
    <%#= f.order %>
    <%#= f.image_file_name %>
    <img style="height: 300px;" src="<%= f.image.url %>" />
<% end %>




<%= link_to 'Upload your own!', new_photo_path, :class => "class-name" %>









<!--Show all images here-->
<!--Include link to image upload page-->