<div class="row panels2">
  <div class="aboutpanel col-md-12">
    <div class="aboutpanel2 shadowed">
      <p class="abouttitle">Legendary to the Core</p>
      It all began on February 17, 1993, when Kent Taylor opened the first Texas Roadhouse in Clarksville, Indiana.  Kent’s goal was to own not just a family restaurant and not just a steak restaurant, but a place where everyone, of all ages, could come and have a great meal and great fun for a great price.
      <br/>
      We like to brag about our Hand-Cut Steaks, Fall-Off-The-Bone Ribs, Made-From-Scratch Sides, and Fresh-Baked Bread. Everything we do goes into making our hearty meals stand out. We handcraft almost everything we serve. We provide larger portions so you get more food for your dollar. And if you want an Ice Cold Beer or Legendary Margarita to wash it all down — well, we have those, too.
      <br/>
      Our food’s not the only thing that’s Legendary at the Roadhouse — our fun is too! From our line dancers to our jukebox to our friendly servers, you’ll enjoy every second you spend in a Texas Roadhouse.
      At Texas Roadhouse our team has an incredible sense of pride in everything we do. Our passion ensures you have a Legendary Experience every time.  Because of our passion for our guests and our communities, our team members are involved outside the restaurants in their local communities as a way to give back.
      The Texas Roadhouse story is simple. Legendary Food, Legendary Service® —
      all with lots of Legendary Fun!
    </div>
  </div>
  <div class="aboutpanel col-md-6 col-sm-6 col-xs-6">
    <div class="aboutpanel2 shadowed">
      <p class="abouttitle2">Culture</p>
      Since our company opened its doors in 1993, the focus of Texas Roadhouse has been on putting employees first. It has always been our founder, Kent Taylor's, belief that if all of our team members (“Roadies,” as we like to call them) are happy, our guests will have an amazing experience to brag about!
      To ensure that our Roadies stay passionate about the Roadhouse, we make sure they know how passionate we are about them and their well-being. That's why a few years ago, Texas Roadhouse created Andy's Outreach Fund — so that our Roadies could help other Roadies who might be struggling personally as they carry on the incredible culture of our one-of-a-kind place to work.
      We hope this passion and commitment to our team is evident every time you visit your favorite Texas Roadhouse.
    </div>
  </div>
  <div class="aboutpanel col-md-6 col-sm-6 col-xs-6">
    <div class="aboutpanel2 shadowed">
      <p class="abouttitle2">Community</p>
      We're a family restaurant. And, we believe our family is every member of every community that has a Texas Roadhouse.
      <br/>
      It is important to give back to the communities that are so much a part of Texas Roadhouse.  That means playing an active role in the events that shape the lives of the people we live and work with. That's why you're likely to see Andy the Armadillo at your local little league game or reading to the children in your local schools. That's also why you'll see our Roadies both in the restaurant and out in the community supporting your local charitable organizations, schools, and fundraisers.
    </div>
  </div>
  <div class="aboutpanel col-md-6 col-sm-6 col-xs-6">
    <div class="aboutpanel2 shadowed">
      <p class="abouttitle2">Menu Overview</p>
      While we are famous for our Hand-Cut Steaks and Fall-Off-The-Bone Ribs, our menu also features several chicken and seafood selections. The majority of our entrees, which generally range in price from $9.49 to $24.99, include two Made-From-Scratch Sides. We also provide our guests with a basket of hot, Fresh-Baked Bread and all-you-can-eat roasted in-shell peanuts.
    </div>
  </div>
  <div class="aboutpanel col-md-6 col-sm-6 col-xs-6">
    <div class="aboutpanel2 shadowed">
      <p class="abouttitle2">Our Restaurants</p>
      The typical Texas Roadhouse restaurant ranges in size from approximately 6,700 to 7,500 square feet and seats about 245 to 291 guests. Each restaurant has a staff of approximately 100 people.
    </div>
  </div>
</div>