<div class="contactwrapper row">
    <div class="contactbox shadowed col-md-3">
      <p class="abouttitle">Phone</p>
      <p class="contacttext">(715) 598-7200</p>
      <p class="abouttitle">E-Mail</p>
      <p class="contacttext">info@theclassicgarage.com</p>
      <p class="abouttitle">Address</p>
      <p class="contacttext">2111 3rd St <br/> Eau Claire, Wisconsin</p>
      <hr/>
      <a href="https://www.facebook.com/pages/The-Classic-Garage/850748648283405?pnref=story" target="_blank"><img src="assets/fblogo.png" style="height:30px; margin-left: inherit;"/></a>
    </div>
    <div class="contactbox shadowed col-md-8">
      <p class="abouttitle">Map</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2830.0526709395867!2d-91.51375569999999!3d44.8204916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f8bd67743ffe65%3A0x4fe52ab93b5da782!2s2111+3rd+St%2C+Eau+Claire%2C+WI+54703!5e0!3m2!1sen!2sus!4v1429150276433" width="100%" height="300" frameborder="0" style="border:0; margin-top:5px; margin-bottom: 10px;"></iframe>
    </div>
</div>